{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "jest": false
  },
  "rules": {
    "no-mixed-spaces-and-tabs": 1,
    "no-unused-vars": 1
  }
}
